.header-container {
    width: 100%;
    height: 75px;
  }
  
  .txt-header {
    margin: 0;
    padding: 20px;
  }

  .main-container {
    align-items: center;
  }

  .main-container ul a li {
    border: 1.5px solid var(--color-orange);
    margin-bottom: 10px;
  }