@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
  --color-orange: #f67704;
  --color-blue: #0a3740; 
  --color-light: #ede3fb;
  --color-dark: #090909;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-blue);
}

.color-light {
  color: var(--color-light);
}

.bg-dark {
  background-color: var(--color-dark);
}

.color-orange {
  color: var(--color-orange);
}

.ft-righteous {
  font-family: 'Righteous', cursive;
}

.txt-center {
  text-align: center;
}

.txt-decoration-none {
  text-decoration: none;
}

.li-style-none {
    list-style-type: none;
}

.ft-size-14px {
  font-size: 14px;
}

.ft-size-24px {
    font-size: 24px;
}

.po-relative {
  position: relative;
}

.po-absolute {
  position: absolute;
}