
body {
    margin: 0;
    padding: 0;
    width: auto;
    height: 100%;
}

p, h1, h2 {
    font-family: sans-serif;
}

h1, h2 {
    text-align: center;
}

ol li {
    font-weight: bold;
    font-family: sans-serif;
}

img {
    position: relative;
    margin-left: 25%;
}

a {
    color: red;
}