.menu-header {
    color: #212121;
    font-family: sans-serif;
    background-color: whitesmoke;
    height: 80px;
    position: relative;
    top: -20px;
}

.menu-text {
    position: relative;
    top: 20px;
}

.text {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 10px;
}

.text-renato, .text-marcelo, .text-rocha {
    margin-left: 20px;
}

.text-dado, .text-eduardo{
    margin-left: 10px;
}

